<div>
  <%= semantic_form_for :settings, :method => :post, url: {action: :update} do |f| %>
    <%
      blocks = {'other' => [] }
      unless settings_model.attributes[:group].empty?
        settings_model.attributes[:group].select {|group| blocks[group] = [] }
        settings_model.settings.each_pair do |name, _|
          field_name = settings_model.field_name(name)
          group_name = field_name.split('__').first
          if settings_model.attributes[:group].include?(group_name)
            blocks[group_name].push(field_name)
          else
            blocks['other'].push(field_name)
          end
        end
      end
      blocks.except!('other') if blocks['other'].empty?
    %>
    <% blocks.each do |block, values| %>
      <%=f.inputs t("settings.group_prefix.#{block}", default: block) do %>
        <% values.each do |field_name| %>
        <%= f.input field_name, settings_model.field_options(field_name, field_name) %>
        <% end %>
      <%  end %>
    <% end %>
    <%= f.submit %>
  <% end %>
</div>
